/*Calcolatrice*/
#calcolatrice{
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    border: 3px aquamarine solid;
    background-color: rgb(29, 194, 139);
}

#calcolatrice td button{
    margin: 1%;
    width: 60px;
    border: 3px aquamarine solid;
    border-radius: 10px;
    background-color: blueviolet;
    text-align: center;
 }

 #calcolatrice td button:hover{
    background-color: rgb(181, 115, 243);
}

 #calcolatrice tr input{
    text-align: right;
    margin: 1%;
    width:90%;
    border: 3px aquamarine solid;
    border-radius: 10px;
 }





/*Fine_calcolatrice*/

/*Orologio*/
#time {
    float: left;
    border-radius: 10%;
    background-color: aquamarine;
}

#time:hover {
    background-color: rgb(29, 194, 139);
}
/*Fine_orologio*/

/*Tasto_back*/
#back {
    float: left;
    border-radius: 6%;
    background-color: rgb(187, 16, 16);
}

#back:hover {
    background-color: rgb(194, 29, 51);
}
/*Fine_Tasto_Back*/

.nav {
    background-color: aquamarine;
    border: 1px solid black;
    padding-left: 1%;
}

.nav-link {
    cursor: pointer;
}

.nav li:hover{
    background-color: rgb(29, 194, 139);
}
#pages h1{
    background-color: blueviolet;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 1%;
    border-radius: 10%;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

#pages > .container:not(#homepage) {
    display: none;
}

.barraCerca {
    margin-top: 50px;
    width: 350px;
}


/* =============
 * GLOBAL SEARCH
 * ============= */

 .global-search {
     box-sizing: border-box;
     padding: 10px;
     display: flex;
     flex-flow: column;
     justify-items: center;

 }

 .form-check {
     position: relative;
 }

 .form-check-input {
     display: block;
     height: 100%;
     margin-top: 0;
 }

 .form-check-label {
     padding-left: 5px;
 }

 .gs-found {
     background-image: linear-gradient(to right, #FF8A00, #DA1B60);
     color: #fefefe;
     box-shadow: 2px 2px 10px #474747;
 }

 .gs-occurrences {
     position: relative;
 }

 .gs-occurrences::after {
     content: "";
     display: inline-block;
     position: absolute;
     width: 10px;
     height: 10px;
     right: 5px;
     top: 5px;
     border-radius: 50%;
     background-image: linear-gradient(to right, #FF8A00, #DA1B60);
 }

/* ============= */
/*------ZOO------*/

.Zoo .row {
    padding-top: 4%;
}

.Zoo figure {
    max-height: 700px;
}

.Zoo figcaption {
    font-size: 20Px;
}

/*------Fine ZOO------*/