
.nav {
    background-color: aquamarine;
    border: 1px solid black;
    padding-left: 1%;
}

.nav-link {
    cursor: pointer;
}

#time {
    display: table-cell;
    vertical-align: middle;
    background-color: aquamarine;
}

#pages h1{
    background-color: blueviolet;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 1%;
    text-align: center;
    margin-left: 10%;
    margin-right: 75%;
}

#pages > .container:not(#homepage) {
    display: none;
}

.barraCerca {
    margin-top: 50px;
    width: 350px;
}


/* =============
 * GLOBAL SEARCH
 * ============= */

 .global-search {
     box-sizing: border-box;
     padding: 10px;
     display: flex;
     flex-flow: column;
     justify-items: center;

 }

 .form-check {
     position: relative;
 }

 .form-check-input {
     display: block;
     height: 100%;
     margin-top: 0;
 }

 .form-check-label {
     padding-left: 5px;
 }

 .gs-found {
     background-image: linear-gradient(to right, #FF8A00, #DA1B60);
     color: #fefefe;
     box-shadow: 2px 2px 10px #474747;
 }

/* ============= */